![rmotr](https://user-images.githubusercontent.com/7065401/52071918-bda15380-2562-11e9-828c-7f95297e4a82.png)
<hr style="margin-bottom: 40px;">

<img src="https://user-images.githubusercontent.com/7065401/75165824-badf4680-5701-11ea-9c5b-5475b0a33abf.png"
    style="width:300px; float: right; margin: 0 40px 40px 40px;"></img>

# Pandas - Series

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Hands on!

In [1]:
import numpy as np
import pandas as pd

In [2]:
g7_pop = pd.Series([35.467, 63.951, 80.940, 60.665, 127.061, 64.511, 318.523])

In [4]:
g7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
dtype: float64

In [6]:
g7_pop.name = 'G7 Population in millions'

In [7]:
g7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
Name: G7 Population in millions, dtype: float64

In [8]:
g7_pop.values

array([ 35.467,  63.951,  80.94 ,  60.665, 127.061,  64.511, 318.523])

In [9]:
type(g7_pop.values)

numpy.ndarray

In [10]:
g7_pop[1]

63.951

In [11]:
g7_pop[0]

35.467

In [12]:
g7_pop.index

RangeIndex(start=0, stop=7, step=1)

In [13]:
g7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
Name: G7 Population in millions, dtype: float64

In [14]:
g7_pop.index = [
    'Canada',
    'United States',
    'India',
    'France',
    'Korea',
    'Germany',
    'Italy'    
]

In [15]:
g7_pop

Canada            35.467
United States     63.951
India             80.940
France            60.665
Korea            127.061
Germany           64.511
Italy            318.523
Name: G7 Population in millions, dtype: float64

In [16]:
pd.Series({
    'Canada': 35.467,
    'France': 63.951,
    'Germany': 80.94,
    'Italy': 60.665,
    'Japan': 127.061,
    'United Kingdom': 64.511,
    'United States': 318.523
}, name='G7 Population in millions')

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [17]:
g7_pop

Canada            35.467
United States     63.951
India             80.940
France            60.665
Korea            127.061
Germany           64.511
Italy            318.523
Name: G7 Population in millions, dtype: float64

In [21]:
pd.Series(g7_pop, index = ['Canada', 'Korea', 'France', 'Italy', 'Spain'])

Canada     35.467
Korea     127.061
France     60.665
Italy     318.523
Spain         NaN
Name: G7 Population in millions, dtype: float64

In [24]:
g7_pop['Canada']

35.467

In [26]:
g7_pop['Canada']

35.467

In [27]:
g7_pop.iloc[0]

35.467

In [29]:
g7_pop

Canada            35.467
United States     63.951
India             80.940
France            60.665
Korea            127.061
Germany           64.511
Italy            318.523
Name: G7 Population in millions, dtype: float64

In [28]:
g7_pop.iloc[-1]

318.523

In [30]:
g7_pop.iloc[1]

63.951

In [32]:
g7_pop[['France','Korea']] # we can get multi values by using multi indices

France     60.665
Korea     127.061
Name: G7 Population in millions, dtype: float64

### _The result is selecting multiple values using multiple indices_

In [36]:
g7_pop[[0,3]]

Canada    35.467
France    60.665
Name: G7 Population in millions, dtype: float64

### In Pandas for slicing the UPPER limit is also included

In [35]:
g7_pop['Canada': 'France']

Canada           35.467
United States    63.951
India            80.940
France           60.665
Name: G7 Population in millions, dtype: float64

## <font color='Maroon'> Conditional Selection (Boolean Series) </font>

In [37]:
g7_pop

Canada            35.467
United States     63.951
India             80.940
France            60.665
Korea            127.061
Germany           64.511
Italy            318.523
Name: G7 Population in millions, dtype: float64

In [41]:
g7_pop > 80

Canada           False
United States    False
India             True
France           False
Korea             True
Germany          False
Italy             True
Name: G7 Population in millions, dtype: bool

In [43]:
g7_pop[g7_pop > 80] # here inner series gives the indices for outer series result

India     80.940
Korea    127.061
Italy    318.523
Name: G7 Population in millions, dtype: float64

In [44]:
g7_pop.mean()

107.30257142857144

In [47]:
g7_pop.max()

318.523

In [48]:
g7_pop.min()

35.467

In [49]:
g7_pop.std()

97.24996987121581

In [50]:
g7_pop[g7_pop > g7_pop.mean()]

Korea    127.061
Italy    318.523
Name: G7 Population in millions, dtype: float64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Operations and methods

In [54]:
g7_pop * 100000

Canada            3546700.0
United States     6395100.0
India             8094000.0
France            6066500.0
Korea            12706100.0
Germany           6451100.0
Italy            31852300.0
Name: G7 Population in millions, dtype: float64

In [55]:
g7_pop.mean()

107.30257142857144

In [62]:
g7_pop[~(g7_pop > 80)]

Canada           35.467
United States    63.951
France           60.665
Germany          64.511
Name: G7 Population in millions, dtype: float64

In [65]:
np.log10(g7_pop)

Canada           1.549824
United States    1.805847
India            1.908163
France           1.782938
Korea            2.104012
Germany          1.809634
Italy            2.503141
Name: G7 Population in millions, dtype: float64

In [66]:
g7_pop

Canada            35.467
United States     63.951
India             80.940
France            60.665
Korea            127.061
Germany           64.511
Italy            318.523
Name: G7 Population in millions, dtype: float64

In [72]:
g7_pop['Canada':'India'].mean()

60.11933333333334

In [73]:
g7_pop

Canada            35.467
United States     63.951
India             80.940
France            60.665
Korea            127.061
Germany           64.511
Italy            318.523
Name: G7 Population in millions, dtype: float64

In [75]:
g7_pop[(g7_pop > 60) & (g7_pop < 100)]

United States    63.951
India            80.940
France           60.665
Germany          64.511
Name: G7 Population in millions, dtype: float64

In [80]:
g7_pop[(g7_pop > 80) | (g7_pop < 40)] # | is OR operator

Canada     35.467
India      80.940
Korea     127.061
Italy     318.523
Name: G7 Population in millions, dtype: float64

In [81]:
g7_pop

Canada            35.467
United States     63.951
India             80.940
France            60.665
Korea            127.061
Germany           64.511
Italy            318.523
Name: G7 Population in millions, dtype: float64

In [84]:
g7_pop['Canada'] = 23.5 # assigning the value to series element

In [85]:
g7_pop

Canada            23.500
United States     63.951
India             80.940
France            60.665
Korea            127.061
Germany           64.511
Italy            318.523
Name: G7 Population in millions, dtype: float64

In [89]:
g7_pop.iloc[1]

63.951

In [90]:
g7_pop.iloc[0]

23.5

In [91]:
g7_pop.iloc[-1] = 200.445

In [92]:
g7_pop

Canada            23.500
United States     63.951
India             80.940
France            60.665
Korea            127.061
Germany           64.511
Italy            200.445
Name: G7 Population in millions, dtype: float64

In [93]:
g7_pop[g7_pop >100] = 99.99

In [94]:
g7_pop

Canada           23.500
United States    63.951
India            80.940
France           60.665
Korea            99.990
Germany          64.511
Italy            99.990
Name: G7 Population in millions, dtype: float64

In [95]:
g7_pop['Korea'] = 223.445

In [98]:
%time g7_pop

Wall time: 1.01 ms

Canada            23.500
United States     63.951
India             80.940
France            60.665
Korea            223.445
Germany           64.511
Italy             99.990
Name: G7 Population in millions, dtype: float64