In [2]:
import math
import numpy as np
a= math.log10(10)
a

1.0

### [Follow my LinkedIn account](https://www.linkedin.com/in/piyush-sultania)

Here's our logo (hover to see the title text):

Inline-style: 
![alt text](https://github.com/adam-p/markdown-here/raw/master/src/common/images/icon48.png "Logo Title Text 1")

Alt-H1

[Cognitive Class](https://cognitiveclass.ai/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-wwwcourseraorg-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDS0105ENSkillsNetwork20083975-2021-01-01)

### Tables
Tables aren't part of the core Markdown spec, but they are part of GFM and Markdown Here supports them. They are an easy way of adding tables to your email -- a task that would otherwise require copy-pasting from another application.

| Employee ID     | Employee Name     | Date of Birth |
| ----------------|:-----------------:|--------------:|
| 1               | Piyush            | 01-Dec-1993   |
| 2               | Ayush             | 12-Aug-1999   |
| 3               | Amit Kumar        | 12-Aug-1922   |
| 4               | Mark Adams        | 12-Aug-1123   |

<dl>
    <dt>  <strong>Definition list</strong> </dt>
    <dd>Is something people use sometimes.</dd>
</dl>    
   <dt1> 
    <span class="bolded">Markdown in HTML</span>
    </dt1>
    <dd>Does *not* work **very** well. Use HTML <tg>tags</tg>.</dd>
</dl>

In [1]:
name = "Michael Jackson"
name[3]

print(r"Michael Jackson is \ the best")
name.find("el")
name.find("Jack")
int(False)

str(1) + str(1)

Michael Jackson is \ the best

'11'

In [3]:
Ratings = (1,2,3,4,5,6,7) #tuples
Tuples1 = ("Mark", 1, 1.3)
print(Tuples1)

('Mark', 1, 1.3)

In [5]:
Tuples1[0]

'Mark'

In [6]:
len(Tuples1)

3

In [8]:
TP = (1, 2, ("Mark", "Spencer"), (1, 2), ("Jim", "Bean"))

In [9]:
TP[2]

('Mark', 'Spencer')

In [10]:
TP[2][0]

'Mark'

In [28]:
List = [1, 2, ['Mark', ['James', 'Mario']], 4]

In [16]:
List[2][1][1]

'Mario'

### Tuples are immutable while List is mutable
### List and Tuple both can contain different data like integer, float, string and in any combination

In [35]:
List1 = [10, 20, "Adding New List"]

In [29]:
List + List1

[1, 2, ['Mark', ['James', 'Mario']], 4, 10, 20, 'Adding New List']

In [36]:
List1.extend(["Extend The List", 10 ,20]) #extending the list no need to crete new list add the elements
#List1.append(['Append New List'])  #appends the list as an element

In [37]:
List1

[10, 20, 'Adding New List', 'Extend The List', 10, 20]

In [41]:
List1
del(List1[3])
List1

[10, 20, 'Adding New List']

### Lists are mutable, so changes persists in the list after operation like delete or append or extend!

In [44]:
string = "My name is Piyush Kumar Sultania"

In [50]:
split_list = string.split()
print(split_list)
print(split_list[0])
print(split_list[3:6])

['My', 'name', 'is', 'Piyush', 'Kumar', 'Sultania']
My
['Piyush', 'Kumar', 'Sultania']

In [87]:
"helloMike".split()
address = 'Durgapur, Katihar, Pin - 998988 Phone=+123445678'
address

new_list = address.split(',')
new_list
# print('New List is ' + str(new_list))

['Durgapur', ' Katihar', ' Pin - 998988 Phone=+123445678']

In [95]:
A = ['Hard Rock', 10, 20]
B = A
A
B

['Hard Rock', 10, 20]

In [96]:
A[0] = "Changed to Banana"
A

['Changed to Banana', 10, 20]

In [97]:
B

['Changed to Banana', 10, 20]

In [98]:
B = A[:]
B

['Changed to Banana', 10, 20]

In [99]:
B[0] = "Rebase to Hard Rock"
B

['Rebase to Hard Rock', 10, 20]

In [100]:
A

['Changed to Banana', 10, 20]

In [101]:
help(A)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [103]:
A = [1]
A.append([2,3,4,5])
len(A)
A

[1, [2, 3, 4, 5]]

In [33]:
Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
Dict
# print(Dict["key1"])
# print(Dict["key3"])

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6}

In [31]:
"key1" in Dict
"key2" in Dict

True

In [28]:
Dict.keys()
Dict.values()

dict_values([1, '2', [3, 3, 3], (4, 4, 4), 5, 6])

In [34]:
Dict[0,1]

6

In [35]:
release_year_dict = {"Thriller": "1982", "Back in Black": "1980", \
                    "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", \
                    "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", \
                    "Saturday Night Fever": "1977", "Rumours": "1977"}
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

In [40]:
release_year_dict['Thriller']
release_year_dict.keys()
release_year_dict.values()
'Thriller' in release_year_dict # key in dictionary => True or False
del(release_year_dict['Rumours'])

In [43]:
album_sales_dict = {'Albums Back in Black':50, 'The Bodyguard':50, 'Thriller':65}
album_sales_dict

{'Albums Back in Black': 50, 'The Bodyguard': 50, 'Thriller': 65}

In [45]:
sum(album_sales_dict.values())

165